Endert Guerrero IPE 100108

Módulo: 3 

Asignatura: Procesamiento de datos 

RA: Ordena conjuntos de datos aplicando técnicas de procesamiento, para prevenir errores posteriores en el proceso de modelado. 

Docente Online: Gonzalo Esteban Cárdenas Rubio

# Librerias

In [79]:
import pandas as pd
import numpy as np

# DataFrame

In [80]:
Ventas_Clientes_2021 = pd.Series([100.0,200.0,"110,0",90.0,150.0,80.0,70.0,100.0,110.0,90.0,"100,00"])
Clientes_2021 = pd.Series (["JUan","camila","DanIel","Luis","Juan","Ana","Camila","Ana","LuiS","Ana","Juan"])
df1 = pd.DataFrame(Ventas_Clientes_2021, columns= ["Ventas"])
df2 = pd.DataFrame(Clientes_2021, columns= ["Clientes"])
df3 = pd.concat([df2,df1], axis=1)
df3

   Clientes  Ventas
0      JUan   100.0
1    camila   200.0
2    DanIel   110,0
3      Luis    90.0
4      Juan   150.0
5       Ana    80.0
6    Camila    70.0
7       Ana   100.0
8      LuiS   110.0
9       Ana    90.0
10     Juan  100,00

# Errores en el DataFrame

DataFrame "Ventas_Clientes_2021"

    En el indice 2 del DataFrame "Ventas_Clientes_2021" se puede encontrar el primer error, "110,0", este error se debe a que es una cadena de texto cuando deberia ser un numero entero, ademas de tener una coma en vez de un punto para representar la parte decimal del numero. Lo mismo sucede con el indice 11, "100,00", estos errores seran arreglados mas adelante.

DataFrame "Clientes_2021"

    En el indice 0 del Datframe "Clientes_2021" encontramos el primer error, "JUan" cuando deberia ser "Juan", es un error simple a la hora de escribir el nombre es dicho caso hipotetico, algo similar sucede con los indices 1, "camila" deberia tener mayuscula al iniciar; indice 2, "DanIel" el cual tiene una mayuscula entremedio del nombre aunque esto no representa problemas en este caso ya que "Daniel" no se repite pero en caso de que fuera asi nos generaria un problema; indice 8 tambien presenta un problema similar, "LuiS". Todos estos problemas seran solucionados mas adelante.

# Solucionando problemas del DataFrame (Item1)

DataFrame "Ventas_Clientes_2021"
    
    Para este dataframe remplazaremos la coma por un punto para que este sea representado correctamente y tambien eliminaremos todas las comillas haciendo uso de "replace", por ultimo convertiremos todos estos numero en "float"

DataFrame "Clientes_2021"

    En este dataframe haremos uso de "str.title" con este quitaremnos todos lo errores ya que esta funcion nos pondra como mayuscula la primera letra de cada linea de texto y el resto de caracteres seran minusculas.

In [83]:
Ventas_Clientes_2021 = pd.Series([100.0,200.0,"110,0",90.0,150.0,80.0,70.0,100.0,110.0,90.0,"100,00"])
Ventas_Clientes_2021 = Ventas_Clientes_2021.replace({',': '.', '"': ''},regex=True).astype(float)
print(Ventas_Clientes_2021)  

Clientes_2021 = pd.Series (["JUan","camila","DanIel","Luis","Juan","Ana","Camila","Ana","LuiS","Ana","Juan"])
Clientes_2021 = Clientes_2021.str.title()
print(Clientes_2021)

0     100.0
1     200.0
2     110.0
3      90.0
4     150.0
5      80.0
6      70.0
7     100.0
8     110.0
9      90.0
10    100.0
dtype: float64
0       Juan
1     Camila
2     Daniel
3       Luis
4       Juan
5        Ana
6     Camila
7        Ana
8       Luis
9        Ana
10      Juan
dtype: object

# Item2

Ahora crearemos un nuevo DataFrame ("df4") donde agruparemos a los clientes y sumaremos sus compras, este total lo dispodremos de forma desendente de forma que cuando lo mostraemos en pantalla podremos ver cuanto fue el total de las compras realizadas por el cliente organizado jerarquicamente segun dicho total.

Tambien como extra agregue una variable alojada en "mejor_cliente" y "peor_cliente" que encontran el nombre del cliente que mas compras realizo y al que menos compras realizo durante el 2021 a traves de la funcion "idxmax" e "idxmin", por otro lado la variable "compras" define la cantidad de compras que hicieron los clientes durante 2021 de una forma similar haciendo uso de "max" y "min".

Por ultimo se crearon la variable "maximo" que nos entregan el monto de maximo de la suma de todas las compras y la variable "minimo" que nos mostraria el contrario.

Al final mostraremos los resultados en pantalla para una mejor diccion.

In [104]:
Ventas_Clientes_2021 = pd.Series([100.0,200.0,"110,0",90.0,150.0,80.0,70.0,100.0,110.0,90.0,"100,00"])
Ventas_Clientes_2021 = Ventas_Clientes_2021.replace({',': '.', '"': ''},regex=True).astype(float) 
Clientes_2021 = pd.Series (["JUan","camila","DanIel","Luis","Juan","Ana","Camila","Ana","LuiS","Ana","Juan"])
Clientes_2021 = Clientes_2021.str.title()
df1 = pd.DataFrame(Ventas_Clientes_2021, columns= ["Ventas"])
df2 = pd.DataFrame(Clientes_2021, columns= ["Clientes"])
df3 = pd.concat([df2,df1], axis=1)

df4 = df3.groupby("Clientes").sum()
df4 = df4.sort_values(by="Ventas", ascending = 0)
print(df4)

mejor_cliente = df4["Ventas"].idxmax()
peor_cliente = df4["Ventas"].idxmin()

compras = df3["Clientes"].value_counts()
max_compras = compras.max()
min_compras = compras.min()

maximo = df4["Ventas"].max()
minimo = df4["Ventas"].min()

print("El cliente que realizó más compras fue", mejor_cliente, "compro", maximo, "$ divido en", max_compras, "compras. Mientras que", peor_cliente, "compro", minimo,"$ realizado en", min_compras,"compra")
print("la diferencia de ventas entre", mejor_cliente, "y", peor_cliente, "es de ", maximo - minimo, "$")

          Ventas
Clientes
Juan       350.0
Ana        270.0
Camila     270.0
Luis       200.0
Daniel     110.0
El cliente que realizó más compras fue Juan compro 350.0 $ divido en 3 compras. Mientras que Daniel compro 110.0 $ realizado en 1 compra
la diferencia de ventas entre Juan y Daniel es de  240.0 $

# Item3

Ahora crearemos un nuevo DataFrame(df5), en este buscamos mostrar la diferencia entre el promedio de las compras realizado durante 2021 con respecto a la ultima compra realizada por el cliente en ese mismo año, Tambien encontraremos al cliente con la compra menor con respecto a su promedio a traves de las variables "down_cliente" y "down_media" haciendo uso de "idxmin" y "min" respectivamente.

In [108]:
df5 = (df3.groupby("Clientes").mean() - df3.groupby("Clientes").last()).sort_values(by="Ventas", ascending = 0)
print(df5)

down_cliente = df5["Ventas"].idxmin()
down_media= df5["Ventas"].min()

print("El cliente con la ultima compra menor a su promedio es", down_cliente, "con", down_media, "$ de diferencia con su promedio de compras durante el 2021")

             Ventas
Clientes
Camila    65.000000
Juan      16.666667
Ana        0.000000
Daniel     0.000000
Luis     -10.000000
El cliente con la ultima compra menor a su promedio es Luis con -10.0 $ de diferencia con su promedio de compras durante el 2021

# Codigo Completo

In [114]:
Ventas_Clientes_2021 = pd.Series([100.0,200.0,"110,0",90.0,150.0,80.0,70.0,100.0,110.0,90.0,"100,00"])
Ventas_Clientes_2021 = Ventas_Clientes_2021.replace({',': '.', '"': ''},regex=True).astype(float) 
Clientes_2021 = pd.Series (["JUan","camila","DanIel","Luis","Juan","Ana","Camila","Ana","LuiS","Ana","Juan"])
Clientes_2021 = Clientes_2021.str.title()
df1 = pd.DataFrame(Ventas_Clientes_2021, columns= ["Ventas"])
df2 = pd.DataFrame(Clientes_2021, columns= ["Clientes"])
df3 = pd.concat([df2,df1], axis=1)

print("Ventas del año 2021")

df4 = df3.groupby("Clientes").sum()
df4 = df4.sort_values(by="Ventas", ascending = 0)
print(df4)

mejor_cliente = df4["Ventas"].idxmax()
peor_cliente = df4["Ventas"].idxmin()

compras = df3["Clientes"].value_counts()
max_compras = compras.max()
min_compras = compras.min()

maximo = df4["Ventas"].max()
minimo = df4["Ventas"].min()

print("El cliente que realizó más compras fue", mejor_cliente, "compro", maximo, "$ divido en", max_compras, "compras. Mientras que", peor_cliente, "compro", minimo,"$ realizado en", min_compras,"compra")
print("la diferencia de ventas entre", mejor_cliente, "y", peor_cliente, "es de ", maximo - minimo, "$")
print("")

print("Diferencia entre el promedio de compras durante el año 2021 con respecto a la ultima compra del mismo año")
df5 = (df3.groupby("Clientes").mean() - df3.groupby("Clientes").last()).sort_values(by="Ventas", ascending = 0)
print(df5)

down_cliente = df5["Ventas"].idxmin()
down_media= df5["Ventas"].min()

print("El cliente con la ultima compra menor a su promedio es", down_cliente, "con", down_media, "$ de diferencia con su promedio de compras durante el 2021")

Ventas del año 2021
          Ventas
Clientes
Juan       350.0
Ana        270.0
Camila     270.0
Luis       200.0
Daniel     110.0
El cliente que realizó más compras fue Juan compro 350.0 $ divido en 3 compras. Mientras que Daniel compro 110.0 $ realizado en 1 compra
la diferencia de ventas entre Juan y Daniel es de  240.0 $

Diferencia entre el promedio de compras durante el año 2021 con respecto a la ultima compra del mismo año
             Ventas
Clientes
Camila    65.000000
Juan      16.666667
Ana        0.000000
Daniel     0.000000
Luis     -10.000000
El cliente con la ultima compra menor a su promedio es Luis con -10.0 $ de diferencia con su promedio de compras durante el 2021